body {
    margin: 10px auto;
}

.create {
    width: 888px;
    margin: 0 auto;
    text-align: center;
    /*background-color: #FF9900;*/
}

input {
    width: 80px;
    height: 22px;
    border-radius: 3px;
}

.create-btn {
    width: 100px;
    height: 30px;
    background-color: black;
    color: #ffffff;
}

.container {
    margin: 10px auto;
}

table {
    margin: 10px auto;
    border: 1px solid black;
}
td {
    width: 12px;
    font-size: 2em;
    text-align: center;
    color: white;
}