@charset "UTF-8";

body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.ws-container {
    text-align: center;
}

.ws-table-head {
    border: none;
    margin: 0 auto;
    border-collapse: collapse;
}

.ws-table-left {
    position: absolute;
    margin-left: calc(50% - 260px);
    border-collapse: collapse;
}

.ws-table-head tr td, .ws-table-left tr td {
    width: 40px;
    height: 40px;
}

.ws-table-container {
    margin: 0 auto;
    border: 3px solid black;
    border-collapse: collapse;
}

.ws-table-body tr td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    padding: 0;
}

.ws-btn button {
    font-size: 20px;
    font-weight: bolder;
    background-color: lightgoldenrodyellow;
    margin-top: 6px;
    width: 80px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 2px 2px #ccc;
}

.ws-table-target {
    background-color: #fe0736;
}

.ws-little-block {
    margin-top: -20px;
    background-color: #0550ff;
    position: absolute;
    width: 40px;
    height: 10px;
}

