@charset "UTF-8";
body {
    margin: 0 auto;
    padding: 0;
    background: lightgrey;
}

.todoapp {
    width: 33%;
    padding: 20px;
    margin: 10px auto;
    background: #ffffff;
    border: 1px solid white;
    box-shadow: 1px 2px 5px gray;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-family: Verdana;
}

.todoapp .new-todo{
    font-style: italic;
    outline: none;
}

.todoapp .new-todo, .todo-list .edit {
    width: 100%;
    line-height: 50px;
    height: 50px;
    font-size: 33px;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 3px lightgray;
}

.main {
    /* float: left; */
    display: block;
    display: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.todo-list {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

.todo-list li {
    /* margin: 13px; */
    padding: 18px 20px 18px 0;
    position: relative;
    font-size: 24px;
    list-style-type: none;
}

.todo-list .view, .todo-list .edit {
    float: left;
}

.todo-list .view {
    /*display: none;*/
}

.view input {
    margin: 0;
    padding: 0;
}

.instruction {
    clear: both;
}

.instruction {
    text-align: center;
    margin-top: 40px;
    font-weight: bolder;
    font-size: 30px;
    color: #9e9e9e;
}

footer {
    display: none;
    margin: 0 -20px -20px -20px;
    color: #555;
    background-color: #f4fce8;
    border-top: 1px solid #ededed;
    padding: 0 20px;
    overflow: hidden;
    line-height: 38px;
    border-radius: 0 0 5px 5px;
}