<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TO-DO-LIST</title>
    <link rel="stylesheet" href="./to-do-list.css">
    <!--<script type="text/javascript">-->

		<!--var _gaq = _gaq || [];-->
		<!--_gaq.push(['_setAccount', 'UA-5201171-9']);-->
		<!--_gaq.push(['_trackPageview']);-->

		<!--(function() {-->
			<!--var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
			<!--ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +-->
				<!--'.google-analytics.com/ga.js';-->
			<!--var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
		<!--})();-->
    <!--</script>-->
</head>

<body>
<div class="todoapp">
    <header>
        <h1>Todos</h1>
        <input type="text" class="new-todo" placeholder=" what needs to be done?" maxlength="26">
    </header>
    <section class="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list">
            <!--<li>-->
            <!--<div class="view">-->
            <!--<input class="toggle" type="checkbox" checked='checked'>-->
            <!--<label>title</label>-->
            <!--<a class="destroy"></a>-->
            <!--</div>-->
            <!--<input class="edit" type="text" value=title></input>-->
            <!--</li>-->
        </ul>
    </section>
    <footer>
        <a class="clear-completed">Clear Completed</a>
        <div class="todo-count"></div>
    </footer>
</div>
<div class="instruction">
    Double click to edit a todo.
</div>

<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
<script src="https://cdn.bootcss.com/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
<script src="../../../../jquery-3.1.1.js" type="application/javascript"></script>
<script type="application/javascript" src="./to-do-list.js"></script>

<!-- Templates -->
<script type="text/template" id="item-template">
    <div class="view">
        <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
        <label><%- title %></label>
        <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
</script>

<script type="text/template" class="stats-template">
    <% if(done) { %>
    <a class="clear-complated">Clear <%= done %> completed <%= done == 1 ? "item" : "items"%></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b>
        <% remaining == 1 ? "item" : "items"%> left
    </div>
</script>
</body>

</html>