body {
    margin:0 auto;
}
.attributes {
    margin: 100px auto;
    width: 50%;
    height: auto;
    text-align: center;
}
.container {
    margin: 10px auto;
    padding: 20px;
    width:100px;
    height:80px;
    background-color: darkred;
}