body {
    margin: 0 auto;
}

.controller {
    width: 300px;
    margin: 10px auto;
}

.red, .green, .black {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
}

.red {
    background-color: red;
    border-style:solid;
    border-color: red;
    border-width:20px;
}

.green {
    background-color: green;
    border-color: green;
    border-style:solid;
    border-width: 20px;
}

.current {
    background-color: #fff!important;
}

.black {
    background-color: black;
    border-color: black;
    border-style:solid;
    border-width:20px;
}

.navigator-list {

}

.navigator {
    width: 700px;
    margin: 0 auto;
}

.nav {
    /*border-width: 5px;*/
    border: 2px solid whitesmoke;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    width: 100px;
    background-color: green;
    line-height: 2em;
}

.news, .amusement, .sports, .films, .musics, .travels {
    text-decoration: none;
    color: white;
}